@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

p,a,button,li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


.body-overlay {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;

}

.showOverlay {
    display: block;
}

.main-header {
    width:100%;
    height:75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px;
    background: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    z-index: 5;
    position: relative;
}

.add-animal {
    width:45px;
    cursor: pointer;
}

.add-animal img {
    width:100%;
}

.animal-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.animal-card {
    width: 250px;
    height:250px;
    position: relative;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    border-radius: 2px;
    overflow: hidden;
}

.animal-content {
    display: flex;
    justify-content: space-between;

}

.content-left {
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}

.animal-img {
    width:125px;
}

.animal-copy {
    text-align: left;
    padding:20px 20px 10px;
}

.animal-card footer {
    width:100%;
    height:50px;
    background: #fff;
    position: absolute;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit-form {
    padding-top: 70px;
    position: absolute;
    z-index: 1;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: #fff;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
}

.edit-form h1 {
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}

.showEditForm {
    transform: translateY(0);
    transition-duration: 300ms;
}

.hideEditForm {
    transform: translateY(100%);
    transition-duration: 300ms;
}

.footer-icons {
    display: flex;
}

.footer-icons li {
    cursor: pointer;
    margin-right: 20px;
}

.footer-icons li img {
    width: 100%;
}

.feedme {
    outline: none;
    border: none;
    width:85px;
    color: #fff;
    background: #2192F6;
    cursor: pointer;
}

.add-animal-slide-out {
    height:calc(100vh - 75px);
    width:500px;
    position: absolute;
    right:0;
    transform: translateX(100%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    background: #fff;

}


.animal-form {
    width:90%;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-self: flex-end;
}

.animal-form input {
    padding:10px;

}

.animal-form input:focus {
    outline: none;
    border: 1px solid #2192F6;
}

.animal-form button {
    outline: none;
    border: none;
    color: #fff;
    background: #2192F6;
    cursor: pointer;
    padding:10px;
    margin-top: 25px;
    margin-bottom: 25px;
}


.or {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.open {
    transform: translateX(0);
    transition-duration: 300ms;

}

.close {
    transform: translateX(100%);
    transition-duration: 300ms;

}

.openRotate{
    transform: rotate(45deg);
    transition-duration: 300ms;
}

.animal-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.animal-list-item {
    width:100px;
    height:100px;
    background: gray;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
