<!DOCTYPE html>
<!--todo: create a angular app and bind it here-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Zoo Dev</title>

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<!--todo: create a controller and bind it here-->
<body >

<header class="main-header">
    <h1>Zootopia</h1>
    <nav>
        <ul>
            <li class="add-animal" ng-click="showMenu = !showMenu "><img src="./images/add.png" alt="add animal icon" ng-class="{'openRotate':showMenu}"></li>
        </ul>
    </nav>
</header>
<aside class="add-animal-slide-out" ng-class="{'open':showMenu, 'close':!showMenu}">
    <!--todo: create a method for adding an animal-->
    <form class="animal-form">
        <input type="text"  ng-model="name" placeholder="name">
        <input type="text"  ng-model="breed" placeholder="breed">
        <input type="text"  ng-model="age" placeholder="age">
        <input type="url"  ng-model="image" placeholder="animal image url">
        <button type="submit">Add Animal</button>
    </form>

<p class="or">- or select from the list -</p>
    <section class="animal-list-container">
        <!--todo: repeat over the animals being returned from your service -->
        <!--todo: add a background image of the animal -->
        <!--todo: when the animal item is clicked add it to your zoo-->
        <div class="animal-list-item">
            <!--todo: add the animal name here-->
            <h4>name</h4>
        </div>
    </section>
</aside>

<main role="main">
    <section class="animal-cards-container">
        <!--todo: repeat over the animals in your zoo-->
        <div class="animal-card">
            <div class="animal-content">
                <div class="content-left">
                    <!--todo: add animal name here-->
                    <h4></h4>
                </div>
                <!--todo: add animal image here-->
                <img class="animal-img"  alt="">
            </div>
            <!--todo: add animal age here-->
            <p class="animal-copy">Age:</p>
            <!--todo: add animal breed here-->
            <p class="animal-copy">Breed: </p>
            <!--todo: add animal breed here-->
            <p class="animal-copy"> Feed Count: </p>
            <footer>
                <!--todo: onclick feed your animal -->
                <button class="feedme">Feed</button>
                <ul class="footer-icons">
                    <!--todo: onclick edit your animal -->
                    <li class="edit" ng-click="showEdit = !showEdit"><img src="./images/edit.png" alt=""></li>
                    <!--todo: onclick delete your animal -->
                    <li class="trash"><img src="./images/trash.png" alt=""></li>
                </ul>
            </footer>

            <form class="edit-form" ng-class="{'showEditForm':showEdit, 'hideEditForm': !showEdit}">
                <h1 ng-click="showEdit = !showEdit">X</h1>
                <!--todo: make this edit form work -->
                <input type="text" ng-model="" placeholder="name">
                <input type="text" ng-model="" placeholder="age">
                <input type="text" ng-model="" placeholder="animal image url">
                <input type="text" ng-model="" placeholder="breed">
                <!-- todo: onclick update animal and close edit form on successful update -->
                <!--todo: coders challenge implement error handeling -->
                <button type="submit">Finish Edit</button>
            </form>
        </div>
    </section>
</main>


<div class="body-overlay" ng-class="{'showOverlay':showMenu}"  ng-click="showMenu = !showMenu "></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.js"></script>

<!--todo add your controller and service scripts here-->



</body>
</html>
